body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

/*header,*/
/*figure,*/
/*#featured-property p {*/
/*  text-align: center;*/
/*}*/

nav a {
  padding-left: 10px;
  padding-right: 10px;
}

figcaption {
  font-size: .75em;
}

#featured-property p {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#details div {
  display: block;
  float: left;
  background-color: red;
  width: 25%;
}